.lotusui30 .lotusTable h4 {
    margin: 0;
    padding: 0;
    font-size: 1.3em !important;
}

.lotusui30 .lotusTable td.lotusFirstCell, .lotusui30 .lotusTable th.lotusFirstCell {
    padding-left: 10px;
    padding-bottom: 20px;
    border-top: 2px solid #4178be;
}